<h1>All Articles</h1>
<ul id = "articles">
	<% @articles.each do |a| %>
		<li>
			<%= link_to a.title, article_path(a), class: 'article_title' %>
		</li>
	<% end %>
</ul>

<%= link_to "Create a New Article", new_article_path, class: "new_article" %>
<<<<<<< HEAD
<%= link_to "Home", 'welcome/index' %>
<%= link_to "Tags", tags_path %>
=======
<%= link_to "Home", 'welcome/index' %>
>>>>>>> 1df67ef37c1166f17792f5db46c2fea5809464b1
